Install
*.dll
*.DLL
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.DCU
*.lib
*.a
*.o
*.ocx
*.dproj.local
*.DPROJ.LOCAL
*.bak
*.BAK
*.identcache
*.stat
*.res
*.RES
*.lnk 
*.lo 
*.la
*.al 
.libs
*.so
.so.[0-9]
*.pyc
*.pyo
_pycache_
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
[Tt]humbs.db
*.deployproj
*.~
*.~pas
*.~dfm
*.~xfm
*.~ddp
*.~dpr
*.ddp
*.bpr
*.cpp
*.h
*.bpg
*.cfg
*.dof
*.kof
*.drc
*.gex
*.skincfg
*.hpp
*.dpu
*.ppu
__history/
__recovery/
.~
*Resource.rc
*.local
*.projdata
*.tvsconfig
*.svn-base